.tab {
  width: 15%;
  text-align: center;
  line-height: 13px;
  margin: 2px 0;
  font-size: 11px;
}


.extra:hover {
  border: 3px solid #fff;
  border-radius: 100%;
  top: -14px;
  position: relative;
}

* {
  background: #000;
  color: #fff;;
}

.bg-black {
  background-color: #000;
}

.extra{
  border: 3px solid #fff;
  border-radius: 100%;
  top: -14px;
  position: relative;
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: none;
  }
}


/*.tab {*/
/*  width: 16%;*/
/*  text-align: center;*/
/*  line-height: 15px;*/
/*  margin: 2px 0;*/
/*  font-size: 11px;*/
/*}*/


/*.tab:hover {*/
/*  border: 1px solid white;*/
/*  border-radius: 3px;*/
/*}*/

/** {*/
/*  background: #113a17;*/
/*  color: #fc0;;*/
/*}*/

/*.bg-black {*/
/*  background-color: #113a17;*/
/*}*/

/*@media (min-width: 768px) {*/
/*  .hide-on-desktop {*/
/*    display: none;*/
/*  }*/
/*}*/
