<div class="container-fluid pl-0 pr-0">
  <app-carousel></app-carousel>
  <ngb-carousel [activeId]="'slideOne'">
    <ng-template ngbSlide id="slideOne">
      <div class="slide-container border-white">
        <img src="/assets/images/h_img1.webp"
             class="col-3 pl-0 pr-0 border-white bg-transparent text-center text-white ">
        <img src="/assets/images/h_img2.webp"
             class="col-3 pl-0 pr-0 border-white bg-transparent text-center text-white ">
        <img src="/assets/images/h_img3.webp"
             class="col-3 pl-0 pr-0 border-white bg-transparent text-center text-white ">
        <img src="/assets/images/h_img4.webp"
             class="col-3 pl-0 pr-0 border-white bg-transparent text-center text-white ">
      </div>
    </ng-template>
    <ng-template ngbSlide id="slideTwo">
      <div class="slide-container border-white">
        <img src="/assets/images/h_img3.webp"
             class="col-3 pl-0 pr-0 border-white bg-transparent text-center text-white ">
        <img src="/assets/images/h_img4.webp"
             class="col-3 pl-0 pr-0 border-white bg-transparent text-center text-white ">
        <img src="/assets/images/h_img4.webp"
             class="col-3 pl-0 pr-0 border-white bg-transparent text-center text-white ">
        <img src="/assets/images/h_img4.webp"
             class="col-3 pl-0 pr-0 border-white bg-transparent text-center text-white ">
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="text-white p-3 pl-4" style="font-size: 20px;">
    T<u class="border-warning">RE</u>NDING MATCHES
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="d-flex justify-content-center align-items-center">
          <img src="/assets/images/indian_england.png" alt="Random first slide" class='carouselImage m-2'>
          <img src="/assets/images/indian_england.png" alt="Random first slide" class='carouselImage m-2'>
          <img src="/assets/images/indian_england.png" alt="Random first slide" class='carouselImage m-2'>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="border-white border-right-0 border-left-0" style="border-width: 3px">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="d-flex justify-content-around align-items-center">
          <div class='carouselImage m-1 video'> VIDEO
            <div class="video-title">Title</div>
          </div>
          <div class='carouselImage m-1 video'> VIDEO
            <div class="video-title">Title</div>
          </div>
          <div class='carouselImage m-1 video'> VIDEO
            <div class="video-title">Title</div>
          </div>
          <div class='carouselImage m-1 video'> VIDEO
            <div class="video-title">Title</div>
          </div>
          <div class='carouselImage m-1 video'> VIDEO
            <div class="video-title">Title</div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="row ml-0 mr-0 w-100 mt-5 mb-3 text-white d-flex justify-content-between border-white border-right-0 border-left-0 border-top-0" style="border-width: 3px">
    <div class="col-lg-2 bg-black flag pl-0 pr-0 col-sm-12" style="height:425px;">
      <div class="block-content">
        <h4>SPORTS</h4>
        <div class="box">
          <div class="link-box">Exchange</div>
        </div>
        <div class="box noBg">
          <div class="link-box">Exchange</div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 bg-black flag pl-0 pr-0 col-sm-12" style="height:425px;">
        <div class="block-content">
        <h4>SPORTS</h4>
        <div class="box">
          <div class="link-box">Exchange</div>
        </div>
        <div class="box noBg">
          <div class="link-box">Exchange</div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 bg-black flag pl-0 pr-0 col-sm-12" style="height:425px;">
       <div class="block-content">
        <h4>SPORTS</h4>
        <div class="box">
          <div class="link-box">Exchange</div>
        </div>
        <div class="box noBg">
          <div class="link-box">Exchange</div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 bg-black flag pl-0 pr-0 col-sm-12" style="height:425px;">
       <div class="block-content">
        <h4>SPORTS</h4>
        <div class="box">
          <div class="link-box">Exchange</div>
        </div>
        <div class="box noBg">
          <div class="link-box">Exchange</div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 bg-black flag pl-0 pr-0 col-sm-12" style="height:425px;">
       <div class="block-content">
        <h4>SPORTS</h4>
        <div class="box">
          <div class="link-box">Exchange</div>
        </div>
        <div class="box noBg">
          <div class="link-box">Exchange</div>
        </div>
      </div>
    </div>

  </div>
  <div class="row ml-0 mr-0 w-100 text-white d-flex justify-content-between">
    <!--    <div class="col-lg-1 col-sm-12">-->

    <!--    </div>-->
    <div class="col-lg-2 pl-0 pr-0 col-sm-12">
      <div class="offer">
        <div class="offer-block">
          <img class="offer-img" src="/assets/images/blueTier.webp">
        </div>
        <div class="offer-blue YRuRm">
          <div>
            TURNOVER <br> NA
          </div>
          <ul class="space">
            <li class="offer-li">
              <div class="li-item">
                <div class="tick">
                  <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.7652 4.92014L4.71564 7.87053L10.5859 2" stroke="#08B933" stroke-width="1.5" stroke-linecap="square"></path></svg>
                </div>
                <div class="text-white">2% bonus on every redeposit</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-2 pl-0 pr-0 col-sm-12">
      <div class="offer">
        <div class="offer-block">
          <img class="offer-img" src="/assets/images/blueTier.webp">
        </div>
      </div>
    </div>
    <div class="col-lg-2 pl-0 pr-0 col-sm-12">
      <div class="offer">
        <div class="offer-block">
          <img class="offer-img" src="/assets/images/blueTier.webp">
        </div>
        <div>TURNOVER <br> NA</div>
      </div>
    </div>
    <div class="col-lg-2 pl-0 pr-0 col-sm-12">
      <div class="offer">
        <div class="offer-block">
          <img class="offer-img" src="/assets/images/blueTier.webp">
        </div>
      </div>
    </div>
    <div class="col-lg-2 pl-0 pr-0 col-sm-12">
      <div class="offer">
        <div class="offer-block">
          <img class="offer-img" src="/assets/images/blueTier.webp">
        </div>
      </div>
    </div>
    <!--    <div class="col-lg-1 col-sm-12">-->

    <!--    </div>-->
  </div>

  <div class="container-fluid mt-3" style="background-color: #131313">
    <div class="m-2 text-warning row d-flex align-items-center justify-content-center p-1">
      <div class="text-uppercase text-center col-lg-2 col-4">About Us</div>
      <div class="text-uppercase text-center col-lg-2 col-4">Terms and Conditions</div>
      <div class="text-uppercase text-center col-lg-2 col-4">Deposit and Withdraw Money</div>
      <div class="text-uppercase text-center col-lg-2 col-4">My Account</div>
      <div class="text-uppercase text-center col-lg-2 col-4">Affiliate</div>
      <div class="text-uppercase text-center col-lg-2 col-4">FAQ</div>
    </div>
    <div class="mt-3">
      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex  justify-content-center text-white font-weight-bold">
          <div class="font-weight-bold d-block">Live Chat</div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex  justify-content-center text-white font-weight-bold">
          <div class="font-weight-bold d-block">GAME
            <ul class=" d-block p-2">
              <li>Sports</li>
              <li>Live Casino</li>
              <li>Slots</li>
              <li>Others</li>
            </ul>
          </div>

        </div>
        <div class="col-lg-3 col-md-6 d-flex justify-content-center text-white font-weight-bold">
          <div class="font-weight-bold d-block">Method Of Payment
            <ul class=" d-block p-2">
              <li>ICICI Bank</li>
              <li>HDFC Bank</li>
              <li>Kotak Mahindra Bank</li>
              <li>INDUS Bank</li>
              <li>IDBI Bank</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex  justify-content-center text-white font-weight-bold">
          <div class="font-weight-bold d-block">Link
            <ul class=" d-block p-2">
              <li>About XYZ</li>
              <li>Terms and Conditons</li>
              <li>Promotions</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="row justify-content-center" style="color:#a2a0a0">
        <div class="col-12 col-lg-5 border border-white border-top border-left-0 border-right-0 border-bottom-0">
          <h3 class="text-white pt-3">XYZ India | Official trustworthy online casino in India</h3>
          <div>XYZ is the best online casino, home to sports betting and live casino games in India. It is one of the
            most qualified and reputed bookies in the market. With all its highest sports betting odds in the market.
            K9Win stands out among others online bookmakers, although the company has been established only for 6 years,
            it has already won the trust and loyalty of several hundred active fans around Asia!
          </div>
        </div>
        <div class="col-lg-1 col-12">
        </div>
        <div class="col-12 col-lg-5 border border-white border-top border-left-0 border-right-0 border-bottom-0">
          <h3 class="text-white pt-3">Customer Support </h3>
          <div>Among the online gaming market with severe competition, K9Win is always the priority of many players.
            Besides brand-new and interesting entertainment products, we also bring the most professional, the most
            dedicated, the most convenient, and the quickest services for our players.24/7 customer service teams are
            well-trained strictly with professionalism, friendliness, and devotion to bring our customers to comfort
            like home entertainment. Multi-channel interaction: our customer service always gets ready to support
            players in time via a variety of communications. Our attractive promotion always brings our player's
            surprise and unexpectedness
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="row justify-content-center" style="position: relative;">
        <div class="col-xs-12 bot-info3">
          <div class="provider-container">
            <h5>Slots</h5>
            <ul class="hover-list">
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-1_0.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-2_0.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-3.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-4.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-5.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-7.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-8.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-9.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-10.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-11.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-12.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-13.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-14.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/slots/slot-15.png">
              </li>
            </ul>
          </div>

          <div class="provider-container">
            <h5>Live Casino</h5>
            <ul class="hover-list">
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/casino/casino-1.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/casino/casino-2.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/casino/casino-3.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/casino/casino-4.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/casino/casino-5.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/casino/casino-6.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/casino/casino-7.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/casino/casino-9.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/casino/casino-10.png">
              </li>
              <li><img
                src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/casino/casino-12.png">
              </li>
            </ul>
          </div>

          <div class="provider-container">
            <h5>Sport</h5>
            <ul class="hover-list">
              <li><img loading="lazy"
                       src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/sport/sport-1_0.png">
              </li>
              <li><img loading="lazy"
                       src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/sport/sport-2_0.png">
              </li>
              <li><img loading="lazy"
                       src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/sport/sport-3_0.png">
              </li>
              <li><img loading="lazy"
                       src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/sport/sport-4.png">
              </li>

            </ul>
          </div>
          <div style="clear: both;"></div>
          <div class="provider-container">
            <h5 style="text-transform: uppercase;">
              COCKFIGHT
            </h5>
            <ul class="hover-list">
              <li><img loading="lazy"
                       src="https://s3-ap-northeast-1.amazonaws.com/hcgames/content/axwin688/images/footer/casino/game-lain sv388.png">
              </li>
            </ul>
          </div>
          <p style="text-align: center;">
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
