<h2 class="userscreen-title mt-1"><button (click)="backClicked()" class="btn-xs back-page">Back</button><span class="h6 ml-2"> Account Statement</span></h2>
<div class="container-fluid" style="color: white;padding-left: 0px;padding-right: 0px">
  <div class="container-fluid p-2">
    <div class="mt-2">
      <form class="w-100" [formGroup]="FilterForm" (ngSubmit)="filter()">
        <div class="container row col-sm-12 col-12 pr-0">
          <div class="form-group col-sm-3 col-6">
            <label for="fromDate">From Date</label>
            <input type="date" formControlName="from" class="form-control" id="fromDate">
            <span
                class="text-danger"
                *ngIf="
                (filterFormControl.from.touched || submitted) &&
                filterFormControl.from.errors?.required">
                From date is required
            </span>
          </div>
          <div class="form-group col-sm-3 col-6">
            <label for="toDate">To Date</label>
            <input type="date" formControlName="to" class="form-control" id="toDate">
            <span
                class="text-danger"
                *ngIf="
                (filterFormControl.to.touched || submitted) &&
                filterFormControl.to.errors?.required">
                To date is required
            </span>
          </div>
          <div class="form-group col-sm-3 col-12">
            <label for="typefilter">Type</label>
            <select [(ngModel)]="type_filter" id="typefilter" class="form-control" formControlName="typefilter">
              <option value="all">All</option>
              <option value="deposit">Deposit/Withdraw</option>
              <option value="sports">Sports</option>
              <option value="casino">Casino</option>
            </select>            
          </div>
          <div class="text-left col-sm-12 col-12">
            <button class="btn btn-block btn-light text-dark ml-2
             text-light" >Submit</button>
          </div>
        </div>
    </form>
    </div>
    <div class="mt-3" *ngIf="updated_ledger_data.length>0 else nodata">
      <mat-accordion *ngFor="let data of updated_ledger_data">
        <mat-expansion-panel  [class.border-success]="data.profit_loss>=0" [class.border-danger]="data.profit_loss<0"   class="border rounded mt-2" style="border-width:2px!important;" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header >
            <mat-panel-title>
              <span class="text-white mr-3 ">{{data.type!=null?data.subtype:data.runner_name | titlecase}}</span>
              <div>{{data.updated_at|date:'MMM d, y h:mm:ss a'}}</div>
            </mat-panel-title>
            <mat-panel-description>
              <span class="font-weight-bold" [class.text-success]="data.profit_loss>=0" [class.text-danger]="data.profit_loss<0">
                {{data.profit_loss}} </span>
              <span class="text-white ml-3">{{data.new_limit}}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <hr class="border border-success">
            <div class="row">
              <div class="col-4" *ngIf="data.event_id!=null">
                <span class="text-success d-block text-break">{{data.event_id}}-{{data.runner_name}}</span>
                <span>{{data.event_id}}</span><span> - {{data.sub_type}}</span>
              </div>
              <div class="col-4" *ngIf="data.event_name!=null">{{data.event_name}}</div>
              <div class="col-4" *ngIf="data.event_id!=null"><span class="d-block">{{data.new_limit}}</span><span class="d-block"> {{data.profit_loss}}</span><span class="d-block text-break">{{data.runner_name}}</span></div>
              <div class="col-8 mt-2"><span class="font-weight-bold">Description: </span>Balance updated. Old Limit: {{data.old_limit}}. New Limit: {{data.new_limit}} </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <ng-template #nodata>
      <div class="text-center">No data found</div>
    </ng-template>
  </div>
</div>
