<div class="box">
  <div class="bg-title d-flex justify-content-between mb-0">
    <div style="background: #343435;" class="title d-flex align-items-center p-2" *ngIf="markets.length > 0">
      <!-- <img src="assets/images/blue_cric.png" /> -->
      <div class="ml-0">
        <div class="text-light font-weight-bold h5" style="font-size: 14px;">{{ market_name }}</div >
        <div style="font-size: 8px;" class="text-light font-weight-bold">{{marketStartTime| date : "MMM/dd/YYYY h:mma \'(IST)\'" : "IST"}}</div>
      </div>
    </div>
  </div>

   <div class="video-card border border-light">
<!--            <iframe class="video-card" src="https://nlivetv.lagaikhaipro.com/rtv.php?eventId=32516721"></iframe>-->
<!--        <iframe width="100%" height="100%"></iframe>-->
     <iframe width="100%" height="100%" [src]="videourl"></iframe>
   </div>
  <div style="background: url('https://www.stageandscreen.travel/sites/default/files/styles/large/public/LP%20-%20Cricket%20Australia.jpg?itok=dStxvjPW'); background-position: center;"
    class="title p-2 d-flex justify-content-between"
    *ngIf="is_score"
  >
    <div  class="text-light">
      <span class="d-block text-center" *ngIf="score.hasOwnProperty('teams')">{{
        score.teams[0].team_name
      }}</span>
      <span style="font-size: 12px" class="d-block text-center" *ngIf="score.hasOwnProperty('teams')">{{
        score.teams[0].score
      }}</span>
    </div>
    <div class="text-light" style="width: 100%; text-align: center">
      <span
        class="d-block text-center"
        *ngIf="score.hasOwnProperty('current_inning')"
        >Curr. Inns: {{ score.current_inning }}</span
      >
      <ng-container *ngIf="score.hasOwnProperty('last24ballsNew')">
        <div
          style="font-size: 14px"
          [class.text-danger]="ball.score_card == 'w'"
          [class.text-white]="ball.score_card != 'w'"
          class="d-inline m-1"
          *ngFor="
            let ball of getInterestingReverseLoop(
              last24ballsNew,
              score.current_over
            )
          "
        >
          {{ ball.score_card }}
          <!-- Display ball data here, e.g., {{ ball.score_card }} -->
        </div>
        <!--                <div [class.badge-danger]="ball.score_card=='w'||ball.score_card=='W'"-->
        <!--                     [class.badge-success]="ball.score_card!='w'||ball.score_card!='W'" class="badge m-1"-->
        <!--                     style="font-size: 14px;" *ngFor="let ball of score.last24ballsNew">-->
        <!--                  {{ball.score_card}}-->
        <!--                </div>-->
      </ng-container>
    </div>
    <div class="text-light text-center">
      <span class="d-block" *ngIf="score.hasOwnProperty('teams')">{{
        score.teams[1].team_name
      }}</span>
      <span style="font-size: 12px" class="d-block" *ngIf="score.hasOwnProperty('teams')">{{
        score.teams[1].score
      }}</span>
    </div>
  </div>

  <mat-tab-group
    [(selectedIndex)]="selectedTabIndex"
    dynamicHeight
    class="mt-0 p-0 m-0"
    mat-stretch-tabs="false"
    mat-align-tabs="start"
  >
    <mat-tab label="ALL">
      <div
        class="card border border-warning rounded"
        *ngIf="markets.length > 0"
      >
        <div class="text-white" >
          <div style="background: #e9eff8;" class="title text-light d-flex">
            <!-- <div class="newhead">{{ market_name }}</div > -->
            <div class="newhead">MATCH ODDS
              <div style="text-align: right;" class="title d-inline">
                <!-- <span class="text-warning">Max Bets: 200000</span><br> -->
<!--                <button (click)="display_cashout()" class="btn button" type="button"-->
<!--                    style="background: black;-->
<!--                    color:white;-->
<!--                    text-transform: uppercase;-->
<!--                    font-size: 10px;-->
<!--                    font-weight: 500;-->
<!--                    /*font-style: italic;*/-->
<!--                    /*border: 1px solid #000000;*/-->
<!--                    border-radius: 2px;-->
<!--                    padding: 2px 3px;"-->
<!--                >-->
<!--                  CASHOUT-->
<!--                </button>-->
              </div></div >
            <div class="ml-3">
              <div [class.d-none]="show_cashout_confirm==false" [class.d-block]="show_cashout_confirm==true" style="text-align: right;" class="title">
                <div style="font-size: 15px;color:#000; padding: 5px; margin-top: 5px;" id="div_conf">
                  Are you sure you want to cashout {{total_profit_loss|currency:'₹'}} ?<br><br>
                  <button type="button"  (click)="submit_cashout(true)"
                          style="margin-right: 2px; float: none; height: 40px; color: #fff; background: rgb(39, 125, 38);font-size: 13px;border:solid 1px #fff;padding:8px;border-radius:15px;width:32%;">Yes</button>
      
                  <button type="button"  (click)="submit_cashout(false)"
                          style="margin-right: 2px; float: none; height: 40px; color: #fff; background: red; font-size: 13px;border:solid 1px #fff;padding:8px;border-radius:15px;width:32%">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div>
            <table class="w-100">
              <tr>
                <td width="58%">&nbsp;</td>
                <td width="25%"><span style="font-weight: 500;">BACK</span></td>
                <td width="17%"><span style="font-weight: 500;">LAY</span></td>
              </tr>
            </table>
          </div>
          <div class="d-flex justify-content-between p-2 border-secondary">
            <div class="title">
              <span>{{ market[0].runner1 }}</span
              ><br />
              {{ market.exp_amount1 }}
              <span
                class="font-weight-bold"
                [class.text-danger]="market[0].exp_amount1 < 0"
                [class.text-success]="market[0].exp_amount1 >= 0"
                >{{ market[0].exp_amount1 }}</span
              >
            </div>
            <button
              #btn
              mat-button
              *ngIf="market[0].is_suspended0 == 0; else MarketSuspendedBlock"
              [disabled]="market[0].back0_price == 0"
              (click)="
                openDialog(
                  'match_odd',
                  'Back',
                  market[0].back0_price,
                  market[0].back0_size,
                  market[0].runner1,
                  1
                )
              "
              class="btn mbtn bg-blue p-0 font-weight-bold"
            >
              <b>{{ market[0].back0_price }}</b
              ><br /><small>{{ market[0].back0_size }}</small>
            </button>
            <ng-template #MarketSuspendedBlock>
              <button
                class="btn mbtn btn-outline-danger disabled ml-2 p-0 font-weight-bold"
              >
                SUSPENDED
              </button>
            </ng-template>
            <br />
            <button
              *ngIf="market[0].is_suspended0 == 0; else MarketSuspendedBlock"
              [disabled]="market[0].lay0_price == 0"
              (click)="
                openDialog(
                  'match_odd',
                  'Lay',
                  market[0].lay0_price,
                  market[0].lay0_size,
                  market[0].runner1,
                  1
                )
              "
              class="btn mbtn bg-pink p-0 ml-2 font-weight-bold"
            >
              {{ market[0].lay0_price }} <br /><small>{{
                market[0].lay0_size
              }}</small>
            </button>
            <br />
          </div>
          <div
            class="d-flex justify-content-between p-2 border-secondary border-top"
          >
            <div class="title">
              <span>{{ market[0].runner2 }}</span
              ><br />
              <span
                class="font-weight-bold"
                [class.text-danger]="market[0].exp_amount2 < 0"
                [class.text-success]="market[0].exp_amount2 >= 0"
                >{{ market[0].exp_amount2 }}</span
              >
            </div>
            <button
              *ngIf="market[0].is_suspended1 == 0; else MarketSuspendedBlock"
              [disabled]="market[0].back1_price == 0"
              (click)="
                openDialog(
                  'match_odd',
                  'Back',
                  market[0].back1_price,
                  market[0].back1_size,
                  market[0].runner2,
                  2
                )
              "
              class="btn mbtn bg-blue p-0 font-weight-bold"
            >
              {{ market[0].back1_price }} <br /><small>{{
                market[0].back1_size
              }}</small>
            </button>
            <br />
            <button
              *ngIf="market[0].is_suspended1 == 0; else MarketSuspendedBlock"
              [disabled]="market[0].lay1_price == 0"
              (click)="
                openDialog(
                  'match_odd',
                  'Lay',
                  market[0].lay1_price,
                  market[0].lay1_size,
                  market[0].runner2,
                  2
                )
              "
              class="btn mbtn bg-pink p-0 ml-2 font-weight-bold"
            >
              {{ market[0].lay1_price }} <br /><small>{{
                market[0].lay1_size
              }}</small>
            </button>
            <br />
          </div>
          <div
            *ngIf="market[0].back2_price != null"
            class="d-flex justify-content-between p-2 border-secondary border-top"
          >
            <div class="title">
              <span>Draw</span><br />
              <span
                class="font-weight-bold"
                [class.text-danger]="market[0].exp_amount3 < 0"
                [class.text-success]="market[0].exp_amount3 >= 0"
                >{{ market[0].exp_amount3 }}</span
              >
            </div>
            <button
              *ngIf="market[0].is_suspended2 == 0; else MarketSuspendedBlock"
              [disabled]="market[0].back2_price == 0"
              (click)="
                openDialog(
                  'match_odd',
                  'Back',
                  market[0].back2_price,
                  market[0].back2_size,
                  'Draw',
                  3
                )
              "
              class="btn mbtn bg-blue p-0 font-weight-bold"
            >
              {{ market[0].back2_price }} <br /><small>{{
                market[0].back2_size
              }}</small>
            </button>
            <br />
            <button
              *ngIf="market[0].is_suspended2 == 0; else MarketSuspendedBlock"
              [disabled]="market[0].lay2_price == 0"
              (click)="
                openDialog(
                  'match_odd',
                  'Lay',
                  market[0].lay2_price,
                  market[0].lay2_size,
                  'Draw',
                  3
                )
              "
              class="btn mbtn bg-pink p-0 ml-2 font-weight-bold"
            >
              {{ market[0].lay2_price }} <br /><small>{{
                market[0].lay2_size
              }}</small>
            </button>
            <br />
          </div>
        </div>
      </div>

      <!--      Bookmaker odds starts-->
      <div
        class="card mt-3 border border-warning rounded"
        *ngIf="book_maker_odd.length > 0"
      >
        <div style="background: #e9eff8;" class="text-white d-flex"  >
          <div class="title text-light">
            <span class="newhead">BOOKMAKER</span>
          </div>
          <div style="text-align: right" class="title">
            <span class="text-dark font-weight-bold" style="font-size:12px;"
              >Min: {{ book_maker_odd[0].min1 }} | Max:
              {{ book_maker_odd[0].max1 }}</span
            ><br />
          </div>
        </div>
        <div class="card-body p-0">
          <div>
            <table class="w-100">
              <tr>
                <td width="58%">&nbsp;</td>
                <td width="25%"><span style="font-weight: 500;">BACK</span></td>
                <td width="17%"><span style="font-weight: 500;">LAY</span></td>
              </tr>
            </table>
          </div>
          <div class="d-flex justify-content-between align-items-center p-2 border-secondary">
            <div class="title">
              <span>{{ book_maker_odd[0].runner1 }}</span
              ><br />
              <!--              {{0}}-->
              <span
                class="font-weight-bold"
                [class.text-danger]="book_maker_odd[0].exp_amount1 < 0"
                [class.text-success]="book_maker_odd[0].exp_amount1 >= 0"
                >{{ book_maker_odd[0].is_declared=="1" ? 0 : book_maker_odd[0].exp_amount1 }}</span
              >
            </div>
            <button
              #btn
              mat-button
              *ngIf="
                book_maker_odd[0].is_suspended0 == 0 &&
                  book_maker_odd[0].status1 == 'ACTIVE';
                else MarketSuspendedBlock
              "
              [disabled]="book_maker_odd[0].back0_price == 0"
              (click)="
                openDialog(
                  'bookmaker',
                  'Back',
                  book_maker_odd[0].back0_price,
                  book_maker_odd[0].back0_size,
                  book_maker_odd[0].runner1,
                  1,
                  book_maker_odd[0].min,
                  book_maker_odd[0].max
                )
              "
              class="btn mbtn bg-blue p-0 font-weight-bold"
            >
              <b>{{ book_maker_odd[0].back0_price }}</b
              ><br /><small>{{ book_maker_odd[0].back0_size }}</small>
            </button>
            <ng-template #MarketSuspendedBlock>
              <button
                class="btn mbtn btn-outline-danger disabled ml-2 p-0 font-weight-bold"
              >
                SUSPENDED
              </button>
            </ng-template>
            <br />
            <button
              *ngIf="
                book_maker_odd[0].is_suspended0 == 0 &&
                  book_maker_odd[0].status1 == 'ACTIVE';
                else MarketSuspendedBlock
              "
              [disabled]="book_maker_odd[0].lay0_price == 0"
              (click)="
                openDialog(
                  'bookmaker',
                  'Lay',
                  book_maker_odd[0].lay0_price,
                  book_maker_odd[0].lay0_size,
                  book_maker_odd[0].runner1,
                  1,
                  book_maker_odd[0].min,
                  book_maker_odd[0].max
                )
              "
              class="btn mbtn bg-pink p-0 ml-2 font-weight-bold"
            >
              {{ book_maker_odd[0].lay0_price }} <br /><small>{{
                book_maker_odd[0].lay0_size
              }}</small>
            </button>
            <br />
          </div>
          <div
            class="d-flex justify-content-between p-2 align-items-center border-secondary border-top"
          >
            <div class="title">
              <span>{{ book_maker_odd[0].runner2 }}</span
              ><br />
              <span
                class="font-weight-bold"
                [class.text-danger]="book_maker_odd[0].exp_amount2 < 0"
                [class.text-success]="book_maker_odd[0].exp_amount2 >= 0"
                >{{ book_maker_odd[0].is_declared=="1" ? 0 : book_maker_odd[0].exp_amount2 }}</span
              >
            </div>
            <button
              *ngIf="
                book_maker_odd[0].is_suspended1 == 0 &&
                  book_maker_odd[0].status2 == 'ACTIVE';
                else MarketSuspendedBlock
              "
              [disabled]="book_maker_odd[0].back1_price == 0"
              (click)="
                openDialog(
                  'bookmaker',
                  'Back',
                  book_maker_odd[0].back1_price,
                  book_maker_odd[0].back1_size,
                  book_maker_odd[0].runner2,
                  2,
                  book_maker_odd[0].min,
                  book_maker_odd[0].max
                )
              "
              class="btn mbtn bg-blue p-0 font-weight-bold"
            >
              {{ book_maker_odd[0].back1_price }} <br /><small>{{
                book_maker_odd[0].back1_size
              }}</small>
            </button>
            <br />
            <button
              *ngIf="
                book_maker_odd[0].is_suspended1 == 0 &&
                  book_maker_odd[0].status2 == 'ACTIVE';
                else MarketSuspendedBlock
              "
              [disabled]="book_maker_odd[0].lay1_price == 0"
              (click)="
                openDialog(
                  'bookmaker',
                  'Lay',
                  book_maker_odd[0].lay1_price,
                  book_maker_odd[0].lay1_size,
                  book_maker_odd[0].runner2,
                  2,
                  book_maker_odd[0].min,
                  book_maker_odd[0].max
                )
              "
              class="btn mbtn bg-pink p-0 ml-2 font-weight-bold"
            >
              {{ book_maker_odd[0].lay1_price }} <br /><small>{{
                book_maker_odd[0].lay1_size
              }}</small>
            </button>
            <br />
          </div>
          <div
            *ngIf="book_maker_odd[0].back2_price != null"
            class="d-flex justify-content-between p-2 align-items-center border-secondary border-top"
          >
            <div class="title">
              <span>Draw</span><br />
              <span
                class="font-weight-bold"
                [class.text-danger]="book_maker_odd[0].exp_amount3 < 0"
                [class.text-success]="book_maker_odd[0].exp_amount3 >= 0"
                >{{ book_maker_odd[0].is_declared=="1" ? 0 : book_maker_odd[0].exp_amount3 }}</span
              >
            </div>
            <button
              *ngIf="
                book_maker_odd[0].is_suspended2 == 0 &&
                  book_maker_odd[0].status3 == 'ACTIVE';
                else MarketSuspendedBlock
              "
              [disabled]="book_maker_odd[0].back2_price == 0"
              (click)="
                openDialog(
                  'bookmaker',
                  'Back',
                  book_maker_odd[0].back2_price,
                  book_maker_odd[0].back2_size,
                  'Draw',
                  3,
                  book_maker_odd[0].min,
                  book_maker_odd[0].max
                )
              "
              class="btn mbtn bg-blue p-0 font-weight-bold"
            >
              {{ book_maker_odd[0].back2_price }} <br /><small>{{
                book_maker_odd[0].back2_size
              }}</small>
            </button>
            <br />
            <button
              *ngIf="
                book_maker_odd[0].is_suspended2 == 0 &&
                  book_maker_odd[0].status3 == 'ACTIVE';
                else MarketSuspendedBlock
              "
              [disabled]="book_maker_odd[0].lay2_price == 0"
              (click)="
                openDialog(
                  'bookmaker',
                  'Lay',
                  book_maker_odd[0].lay2_price,
                  book_maker_odd[0].lay2_size,
                  'Draw',
                  3,
                  book_maker_odd[0].min,
                  book_maker_odd[0].max
                )
              "
              class="btn mbtn bg-pink p-0 ml-2 font-weight-bold"
            >
              {{ book_maker_odd[0].lay2_price }} <br /><small>{{
                book_maker_odd[0].lay2_size
              }}</small>
            </button>
            <br />
          </div>
        </div>
      </div>
      <!--      Bookmaker odds ends-->
      <!--      fancy started-->
      <div
        class="card mt-3 border border-warning rounded"
        *ngIf="fancies.length > 0"
      >
        <div style="background: #e9eff8;" class="text-white d-flex" >
          <div class="title text-light">
            <span class="newhead">TOSS</span><br />
          </div>
          <div style="text-align: right" class="title">
            <span class="text-dark font-weight-bold" style="font-size:12px;">Max Bets: 200000</span><br />
          </div>
        </div>
        <div class="card-body p-0">
          <div *ngFor="let fancy of fancies">
            <div
              *ngIf="fancy.is_active"
              class="d-flex justify-content-between align-items-center p-2 border-secondary border-bottom"
            >
              <div class="title">
                <span>{{ fancy.runner_name }}</span
                ><br />
                <span
                  [class.text-danger]="fancy.exp_amount != 0"
                  [class.text-success]="fancy.exp_amount == 0"
                  >{{ fancy.exp_amount }}</span
                >
              </div>
              <div
                class="title"
                *ngIf="
                  fancy.game_status != 'SUSPENDED' && !fancy.is_suspended;
                  else suspendedBlock
                "
              >
                <!--                {{fancy.game_status != 'SUSPENDED' && !fancy.is_suspended}}-->
                <div class="d-flex justify-content-between">
                  <button
                    [disabled]="fancy.back_price == 0"
                    (click)="
                      openDialog(
                        'fancy',
                        'Back',
                        fancy.back_price,
                        fancy.back_size,
                        fancy.runner_name,
                        1,
                        100,
                        100000
                      )
                    "
                    class="btn mbtn bg-blue p-0 font-weight-bold"
                  >
                    {{ fancy.back_price }} <br /><small>{{
                      fancy.back_size
                    }}</small>
                  </button>
                  <br />
                  <button
                    [disabled]="fancy.lay_price == 0"
                    (click)="
                      openDialog(
                        'fancy',
                        'Lay',
                        fancy.lay_price,
                        fancy.lay_size,
                        fancy.runner_name,
                        0,
                        100,
                        100000
                      )
                    "
                    class="btn mbtn bg-pink ml-2 p-0 font-weight-bold"
                  >
                    {{ fancy.lay_price }} <br /><small>{{
                      fancy.lay_size
                    }}</small>
                  </button>
                </div>
              </div>
              <ng-template #suspendedBlock>
                <button
                  class="btn sbtn ml-2 btn-outline-danger disabled p-0 font-weight-bold"
                >
                  SUSPENDED
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <!--      fancy ended-->
      <!--      sessions started-->
      <div
        class="card mt-3 border border-warning rounded"
        *ngIf="sessions.length > 0"
      >
        <div style="background: #e9eff8;" class="text-white d-flex" >
          <div class="title text-light">
            <span class="newhead">SESSIONS</span><br />
          </div>
          <div style="text-align: right" class="title">
            <span class="text-dark font-weight-bold" style="font-size:12px;">Max Bets: 200000</span><br />
          </div>
        </div>
        <div class="card-body p-0">
          <div>
            <table class="w-100">
              <tr>
                <td width="58%">&nbsp;</td>
                <td width="25%"><span style="font-weight: 500;">NO</span></td>
                <td width="17%"><span style="font-weight: 500;">YES</span></td>
              </tr>
            </table>
          </div>
          <div *ngFor="let session of sessions">
            <div
              *ngIf="session.is_active"
              class="d-flex justify-content-between align-items-center p-2 border-secondary border-bottom"
            >
              <div class="title">
                <span>{{ session.runner_name }}</span
                ><br />
                <span
                  [class.text-danger]="session.exp_amount != 0"
                  [class.text-success]="session.exp_amount == 0"
                  >{{ session.exp_amount }}</span
                >
              </div>
              <div
                class="title"
                *ngIf="
                  session.game_status != 'SUSPENDED' && !session.is_suspended;
                  else suspendedBlock
                "
              >
                <!--                {{session.game_status != 'SUSPENDED' && !session.is_suspended}}-->
                <div class="d-flex justify-content-between">
                  <button
                    [disabled]="session.lay_size == 0"
                    (click)="
                      openDialog(
                        'session',
                        'Lay',
                        session.lay_price,
                        session.lay_size,
                        session.runner_name,
                        0,
                        session.min,
                        session.max
                      )
                    "
                    class="btn mbtn bg-pink p-0 font-weight-bold"
                  >
                    {{ session.lay_price }} <br /><small>{{
                      session.lay_size
                    }}</small>
                  </button>
                  <br />
                  <button
                    [disabled]="session.back_size == 0"
                    (click)="
                      openDialog(
                        'session',
                        'Back',
                        session.back_price,
                        session.back_size,
                        session.runner_name,
                        0,
                        session.min,
                        session.max
                      )
                    "
                    class="btn mbtn bg-blue p-0 ml-2 font-weight-bold"
                  >
                    {{ session.back_price }} <br /><small>{{
                      session.back_size
                    }}</small>
                  </button>
                </div>
              </div>
              <ng-template #suspendedBlock>
                <button
                  class="btn sbtn ml-2 btn-outline-danger disabled p-0 font-weight-bold"
                >
                  SUSPENDED
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <!--      sessions ended-->
    </mat-tab>
    <mat-tab label="BETs">
      <!--      match bets-->
      <div
        class="card mt-3 border border-warning rounded"
        *ngIf="match_bets.length > 0"
      >
        <div style="background: #e9eff8;" class="text-light">
          <div class="title  text-light">
            <span class="newhead">Match Bets</span><br />
          </div>
        </div>
        <div class="card-body p-0">
          <div
            (click)="selectTab(0)"
            *ngFor="let matchbet of match_bets"
            class="d-flex justify-content-between p-2 border-secondary border-bottom"
          >
            <div class="title">
              <span>{{ matchbet.runner_name + "  " }}</span
              ><span
                style="font-size: 13px"
                class="badge"
                [class.badge-danger]="matchbet.is_won == 0"
                [class.badge-success]="matchbet.is_won == 1"
                [class.badge-secondary]="matchbet.is_won == 2"
                *ngIf="matchbet.status == 0"
                >{{
                  matchbet.is_won == 1
                    ? "Won"
                    : matchbet.is_won == 2
                    ? "Draw"
                    : "Lose"
                }}</span
              ><br />
              <span
                class="badge"
                style="font-size: 12px"
                [class.badge-info]="matchbet.type == 'Back'"
                [class.badge-danger]="matchbet.type == 'Lay'"
                >{{ matchbet.type }}</span
              ><span class="badge badge-warning ml-2">{{
                matchbet.status == 1 ? "OPEN" : "CLOSED"
              }}</span
              ><br />
              <span>{{
                matchbet.created_at | date : "dd/MMM/YYYY, h:mm:ss a" : "IST"
              }}</span>
            </div>
            <div class="title" class="float-right w-50 text-right d">
              <span class="text-light">Odds: Match Odds</span><br />
              <span class="text-light">Stack:{{ matchbet.bet_amount }}</span>
              <br />
              <span class="text-light">P&L: {{ matchbet.price }}</span>
            </div>
          </div>
        </div>
      </div>

      <!--      bookmaker bets start-->
      <div
        class="card mt-3 border border-warning rounded"
        *ngIf="bookmaker_bets.length > 0"
      >
        <div style="background: #e9eff8;" class="text-light">
          <div class="title  text-light">
            <span class="newhead">BOOKMAKER</span><br />
          </div>
        </div>
        <div class="card-body p-0">
          <div
            (click)="selectTab(0)"
            *ngFor="let bookmakerbet of bookmaker_bets"
            class="d-flex justify-content-between p-2 border-secondary border-bottom"
          >
            <div class="title">
              <span>{{ bookmakerbet.runner_name + "  " }}</span
              ><span
                style="font-size: 13px"
                class="badge"
                [class.badge-danger]="bookmakerbet.is_won == 0"
                [class.badge-success]="bookmakerbet.is_won == 1"
                [class.badge-secondary]="bookmakerbet.is_won == 2"
                *ngIf="bookmakerbet.status == 0"
                >{{
                  bookmakerbet.is_won == 1
                    ? "Won"
                    : bookmakerbet.is_won == 2
                    ? "Draw"
                    : "Lose"
                }}</span
              ><br />
              <span
                class="badge"
                style="font-size: 12px"
                [class.badge-info]="bookmakerbet.type == 'Back'"
                [class.badge-danger]="bookmakerbet.type == 'Lay'"
                >{{ bookmakerbet.type }}</span
              ><span class="badge badge-warning ml-2">{{
                bookmakerbet.status == 1 ? "OPEN" : "CLOSED"
              }}</span
              ><br />
              <span>{{
                bookmakerbet.created_at
                  | date : "dd/MMM/YYYY, h:mm:ss a" : "IST"
              }}</span>
            </div>
            <div class="title" class="float-right w-50 text-right">
              <span class="text-light">Odds: Match Odds</span><br />
              <span class="text-light"
                >Stack:{{ bookmakerbet.bet_amount }}</span
              >
              <br />
              <span class="text-light">P&L: {{ bookmakerbet.price }}</span>
            </div>
          </div>
        </div>
      </div>
      <!--      bookmaker bets ends-->
      <!--      fancy bet starts-->
      <div
        class="card mt-3 border border-warning rounded"
        *ngIf="fancy_bets.length > 0"
      >
        <div style="background: #e9eff8;" class="text-light">
          <div class="title  text-light">
            <span class="newhead">Toss Bets</span><br />
          </div>
        </div>
        <div class="card-body p-0">
          <div
            (click)="selectTab(0)"
            *ngFor="let fancybet of fancy_bets"
            class="d-flex justify-content-between p-2 border-secondary border-bottom"
          >
            <div class="title">
              <span>{{
                fancybet.runner_name + "  (" + fancybet.price + ")"
              }}</span
              ><span
                style="font-size: 13px"
                class="badge"
                [class.badge-danger]="fancybet.is_won == 0"
                [class.badge-success]="fancybet.is_won == 1"
                *ngIf="fancybet.status == 0"
                >{{ fancybet.is_won == 1 ? "Won" : "Lose" }}</span
              ><br />
              <span
                class="badge"
                style="font-size: 12px"
                [class.badge-info]="fancybet.type == 'Back'"
                [class.badge-danger]="fancybet.type == 'Lay'"
                >{{ fancybet.type }}</span
              ><span class="badge badge-warning ml-2">{{
                fancybet.status == 1 ? "OPEN" : "CLOSED"
              }}</span
              ><br />
              <span>{{ fancybet.created_at | date : "short" }}</span>
            </div>
            <div
              class="title font-weight-normal"
              style="text-align: right !important"
            >
              <span class="text-light">Odds: Session Odds</span><br />
              <span class="text-light">Stack:{{ fancybet.bet_amount }}</span>
              <br />
              <span class="text-light">P&L: {{ fancybet.price }}</span>
            </div>
          </div>
        </div>
      </div>
      <!--      fancy bet ends-->
      <!--      session bets-->
      <div
        class="card mt-3 border border-warning rounded"
        *ngIf="session_bets.length > 0"
      >
        <div style="background: #e9eff8;" class="text-light">
          <div class="title  text-light">
            <span class="newhead">Session Bets</span><br />
          </div>
        </div>
        <div class="card-body p-0">
          <div
            (click)="selectTab(0)"
            *ngFor="let sessionbet of session_bets"
            class="d-flex justify-content-between p-2 border-secondary border-bottom"
          >
            <div class="title">
              <span>{{
                sessionbet.runner_name + "  (" + sessionbet.price + ")"
              }}</span
              ><span
                style="font-size: 13px"
                class="badge"
                [class.badge-danger]="sessionbet.is_won == 0"
                [class.badge-success]="sessionbet.is_won == 1"
                *ngIf="sessionbet.status == 0"
                >{{ sessionbet.is_won == 1 ? "Won" : "Lose" }}</span
              ><br />
              <span
                class="badge"
                style="font-size: 12px"
                [class.badge-info]="sessionbet.type == 'Back'"
                [class.badge-danger]="sessionbet.type == 'Lay'"
                >{{ sessionbet.type }}</span
              ><span class="badge badge-warning ml-2">{{
                sessionbet.status == 1 ? "OPEN" : "CLOSED"
              }}</span
              ><br />
              <span>{{ sessionbet.created_at | date : "short" }}</span>
            </div>
            <div
              class="title font-weight-normal"
              style="text-align: right !important"
            >
              <span class="text-light">Odds: Session Odds</span><br />
              <span class="text-light">Stack:{{ sessionbet.bet_amount }}</span>
              <br />
              <span class="text-light">P&L: {{ sessionbet.size }}</span>
            </div>
          </div>
        </div>
      </div>
      <!--      session bets ends-->
    </mat-tab>
  </mat-tab-group>
</div>
