mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  /* height: 100vh; */
  /*background-color: black;*/

}

main {
  /*background-color:black;*/
}

mat-sidenav {
  width: 75vw;
  /* background: rgba(0, 0, 0, 0.5); */
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  /* padding: 20px;
  margin: 30px; */
  font-weight: bold;
}


/* // Component content area */
.container {
  height: 100vh;
  overflow: auto;
  padding: 10px;
  margin-bottom: 70px;
}

.sticky-bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: black;
  z-index: 1;
}

