.userscreen-title{
  background: #343435;
    margin-bottom: 5px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px;
    color: #fff;
}

.back-page{
  background: #000000;
  color: #fff;
}

.redtablehead .table thead th {
  padding: 7px;
  text-align: center;
  border: none;
  background: #000000;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  position: sticky;
  top: 0;
}